body {
    margin: 0;
    padding: 0;
    background: #f6f7f8;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    border-bottom: 3px solid #044d82;
    position: relative;
}

header .name {
    margin: 10px 0;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

header .job-title {
    color: #666;
    margin: 10px 0;
}

header .profile-icon {
    position: absolute;
    right: 0;
    top: 5px;
}

.web-tech {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
}

h2.section-title {
    margin: 10px 0;
    border-left: 3px solid #016bb7;
    padding-left: 6px;
    color: #333;
    font-family: 'Raleway', sans-serif;
}

.featured-work {
    width: 100%;
}

.table-responsive {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.featured-work article {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    margin: auto;
    padding: 10px;
}

.featured-work article .article-image {
    width: 100%;
    max-width: 100%;
}

.featured-work article .article-title {
    text-align: center;
    margin: 10px;
}

.featured-work article .article-link {
    text-align: center;
    display: block;
    padding: 5px 20px;
    background: #044d82;
    color: #fff;
    width: max-content;
    margin: 0 auto;
    text-decoration: none;
}

.featured-work article .article-content {
    background: #ffffff;
    padding: 10px;
}

footer {
    height: 100px;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

footer p {
    color: #aaa;
}

@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }

    .table-responsive {
        flex-wrap: wrap;
    }

    header .name {
        font-size: 25px;
    }

    .featured-work article {
        -webkit-flex: auto; /* Safari 6.1+ */
        -ms-flex: auto; /* IE 10 */
        flex: auto;
    }
}